 <script type="text/javascript" src="http://kj9.power-bi.com/Assets/Scripts/add_bookmark.jquery.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function() {
        $("#bookmarkme").click(function() {
            // Mozilla Firefox Bookmark
            if ('sidebar' in window && 'addPanel' in window.sidebar) { 
                window.sidebar.addPanel(location.href,document.title,"");
            } else if( /*@cc_on!@*/false) { // IE Favorite
                window.external.AddFavorite(location.href,document.title); 
            } else { // webkit - safari/chrome
                alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
               
            }
        });
    });
</script>
 
 <div id="printArea">
<p>
  <strong>keywords:</strong>
  <%= @article.keywords %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>
<p>
  <strong>Research Method:</strong>
  <%= @article.research_method %>
</p>
<p>
  <strong>Research Participant:</strong>
  <%= @article.research_part %>
</p>
<p>
  <strong>SE Method:</strong>
  <%= @article.se_method %>
</p>
<p>
  <strong>Methodology:</strong>
  <%= @article.methodology %>
</p>
<p>
  <strong>Credibilty Ratings:</strong>
  <%= @article.rating %>
</p>
<p>
  <strong>DOI:</strong>
  <%= @article.DOI %>
</p>
<p>
  <strong>Content:</strong>
  <%= @article.Content %>
</p>

<p>
  <strong>Language:</strong>
  <%= @article.Language %>
</p>
<p>
  <strong>File Type:</strong>
  <%= @article.File_Type %>
</p>
<p>
  <strong>Abstract:</strong>
  <%= @article.Abstract %>
</p>
<p>
  <strong>URL:</strong>
  <%= @article.File_URl %>
</p>
<p>
  <strong>File Size(mb):</strong>
  <%= @article.File_Size %>
</p>

<p>
  <strong>Created On:</strong>
  <%= @article.created_at %>
</p>
<p>
  <strong>Last Updated On:</strong>
  <%= @article.updated_at %>
</p>
</div>


<p>
        <input type="button" id="btnPrint" value="Print" class="btn btn-info"  />
        <input type="button" id="bookmarkme" rel="sidebar"  value="Favorite" class="btn btn-info"  />
        <input type="button" value="view PDF" class="btn btn-info" onclick="javascript:window.open('http://kj9.power-bi.com/Assets/07541909.pdf')" />
     
   <p>
<td><%= link_to 'Edit', edit_article_path(@article) %></td>
<%= link_to 'Back', articles_path %>



  <script type="text/javascript" src="http://kj9.power-bi.com/Assets/Scripts/jquery-1.11.3.js"></script>
 <script type="text/javascript" src="http://kj9.power-bi.com/Assets/Scripts/jquery.PrintArea.min.js"></script>
 
  <script>  
     $("#btnPrint").click(function(){    
         $("#printArea").printArea();  
     });  
 

function add_favorite(a, title, url) {
  url = url || a.href;
  title = title || a.title;
  try{ // IE
    window.external.addFavorite(url, title);
  } catch(e) {
  try{ // Firefox
    window.sidebar.addPanel(title, url, "");
  } catch(e) {
  if (/Opera/.test(window.navigator.userAgent)) { // Opera
    a.rel = "sidebar";
    a.href = url;
    return true;
  }
    alert('加入收藏失败，请使用 Ctrl+D 进行添加');
  }
  }
    return false;
  }
  function set_homepage(a, url) {
    var tip = '您的浏览器不支持此操作\n请使用浏览器的“选项”或“设置”等功能设置首页';
    if (/360se/i.test(window.navigator.userAgent)) {
    alert(tip);
    return false;
  }
  url = url || a.href;
  try {
    a.style.behavior = 'url(#default#homepage)';
    a.setHomePage(url);
  } catch(e) {
    alert(tip);
  }
    return false;
}

    
 </script> 
